<div pRipple class="group shadow-lg shadow-gray-500/50 fixed bottom-28 right-6
  w-16 h-16 bg-gray-800 rounded-full transition-all duration-200 flex
  justify-end cursor-pointer" [ngClass]="{'hover:w-60': moreWidth, 'hover:w-48': !moreWidth}">
  <div class="bottom-28 right-6 w-16 h-16 rounded-full flex flex-row justify-center
    items-center pointer-events-none">
    <p class="text-white fixed right-20 opacity-0 group-hover:opacity-100">{{text}}</p>
    <ng-icon name="heroPlusCircleSolid" color="white" size="2.5rem" />
  </div>
</div>
