<h5>Filtros</h5>
<div class="grid grid-cols-12 gap-y-8 gap-4 my-4">
  <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12">
    <span class="p-float-label">
      <input class="pl-2" (change)="changeInput(id.id, id.value)" #id pInputText id="id" type="number"
        [style]="{ width: '100%', height: '48px' }" />
      <label htmlFor="id">#ID</label>
    </span>
  </div>
  <!-- <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12">
    <span class="p-float-label">
      <p-dropdown (onChange)="changeInput('activo', activo.value ? activo.value.value : '')" #activo id="activo"
        optionLabel="label" [options]="open_list" placeholder="Seleccione..." [showClear]="true" panelStyleClass="panel"
        [style]="{ width: '100%', height: '48px' }" [(ngModel)]="option"
        (onClear)="changeInput('activo', '')"></p-dropdown>
      <label htmlFor="activo">Estado</label>
    </span>
  </div> -->
  <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12">
    <span class="p-float-label">
      <p-calendar class="pl-2" (onSelect)="changeInput('fecha_creado', fecha_creado.value)"
        (onBlur)="changeInput('fecha_creado', fecha_creado.value ? fecha_creado.value : '')" dateFormat="dd/mm/yy"
        #fecha_creado id="fecha_creado" class="p-inputtext-sm" [showIcon]="true"
        [style]="{ width: '100%', height: '48px' }" [showClear]="true" (onClear)="changeInput('fecha_creado', '')"
        appendTo="body" panelStyleClass="panel"></p-calendar>
      <label htmlFor="upload_user">Fecha de carga</label>
    </span>
  </div>
  <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12" *render="['admin']">
    <span class="p-float-label">
      <input class="pl-2" (change)="changeInput(verificador.id, verificador.value)" #verificador pInputText
        id="verificador" type="text" [style]="{ width: '100%', height: '48px' }" />
      <label htmlFor="verificador">Verificador</label>
    </span>
  </div>
  <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12">
    <span class="p-float-label">
      <input class="pl-2" (change)="changeInput(n_siniestro.id, n_siniestro.value)" #n_siniestro pInputText
        id="n_siniestro" type="number" [style]="{ width: '100%', height: '48px' }" />
      <label htmlFor="n_siniestro">N° siniestro</label>
    </span>
  </div>
  <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12">
    <span class="p-float-label">
      <input class="pl-2" (change)="changeInput(n_denuncia.id, n_denuncia.value)" #n_denuncia pInputText id="n_denuncia"
        type="number" [style]="{ width: '100%', height: '48px' }" />
      <label htmlFor="n_denuncia">N° denuncia</label>
    </span>
  </div>
  <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12">
    <span class="p-float-label">
      <input class="pl-2" (change)="changeInput(nombre_asegurado.id, nombre_asegurado.value)" #nombre_asegurado
        pInputText id="nombre_asegurado" type="text" [style]="{ width: '100%', height: '48px' }" />
      <label htmlFor="nombre_asegurado">Nombre del asegurado</label>
    </span>
  </div>
  <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12">
    <span class="p-float-label">
      <input class="pl-2" (change)="changeInput(usuario_carga.id, usuario_carga.value)" #usuario_carga pInputText
        id="usuario_carga" type="text" [style]="{ width: '100%', height: '48px' }" />
      <label htmlFor="usuario_carga">Cargado por</label>
    </span>
  </div>

</div>