<p-dialog *render="['admin']" [(visible)]="visible" [modal]="true" [draggable]="false"
  [style]="{ width: '90vw', height: '70vh' }" (onHide)="dismissModal()">
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center gap-2">
      <span class="font-bold white-space-nowrap text-2xl">{{ pericia ? 'Modificar pericia' : 'Agregar pericia' }}</span>
    </div>
  </ng-template>
  <div class="grid grid-cols-12 gap-4">

    <ng-container>
      <!-- Fecha de asignación -->
      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700 w-full"
          [ngClass]="{ 'text-red-600': (error && !fecha_asignado), 'text-gray-700': !(error && !fecha_asignado) }">{{ (error && !fecha_asignado) ? '¡Campo obligatorio!' : 'Fecha de asignación' }}</label>
        <p-calendar class="mt-1 p-1 w-full border border-gray-300 rounded-md focus:outline-none p-inputtext-sm
          focus:border-indigo-500" dateFormat="dd/mm/yy" panelStyleClass="panel" [style]="{ 'width': '100%' }"
          [ngClass]="{ 'border-red-600': (error && !fecha_asignado), 'border-gray-300': !(error && !fecha_asignado) }"
          appendTo="body" placeholder="Ingrese fecha" [showIcon]="true" [(ngModel)]="fecha_asignado"></p-calendar>
      </div>

      <!-- Aseguradora -->
      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700 w-full"
          [ngClass]="{ 'text-red-600': (error && !selectedAseguradora), 'text-gray-700': !(error && !selectedAseguradora) }">{{ (error && !selectedAseguradora) ? '¡Campo obligatorio!' : 'Aseguradora' }}</label>
        <p-dropdown id="drop" class="mt-1 w-full border border-gray-300 rounded-md focus:outline-none
          focus:border-indigo-500" appendTo="body" [options]="aseguradoras" [(ngModel)]="selectedAseguradora"
          optionLabel="nombre" placeholder="Seleccione una aseguradora" panelStyleClass="panel"
          [ngClass]="{ 'border-red-600': (error && !selectedAseguradora), 'border-gray-300': !(error && !selectedAseguradora) }"
          [style]="{ 'width': '100%' }"></p-dropdown>
      </div>

      <!-- Número de siniestro -->
      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700"
          [ngClass]="{ 'text-red-600': (error && !n_siniestro), 'text-gray-700': !(error && !n_siniestro) }">{{ (error && !n_siniestro) ? '¡Campo obligatorio!' : 'N° siniestro' }}</label>
        <input pInputText id="siniestro" type="number" class="mt-1 p-3 w-full border border-gray-300
          rounded-md focus:outline-none focus:border-indigo-500"
          [ngClass]="{ 'border-red-600': (error && !n_siniestro), 'border-gray-300': !(error && !n_siniestro) }"
          placeholder="Ingrese siniestro" [(ngModel)]="n_siniestro">
      </div>

      <!-- Número de denuncia -->
      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700"
          [ngClass]="{ 'text-red-600': (error && !n_denuncia), 'text-gray-700': !(error && !n_denuncia) }">{{ (error && !n_denuncia) ? '¡Campo obligatorio!' : 'N° denuncia' }}</label>
        <input pInputText id="denuncia" type="number" class="mt-1 p-3 w-full border border-gray-300
          rounded-md focus:outline-none focus:border-indigo-500"
          [ngClass]="{ 'border-red-600': (error && !n_denuncia), 'border-gray-300': !(error && !n_denuncia) }"
          placeholder="Ingrese denuncia" [(ngModel)]="n_denuncia">
      </div>

      <!-- Nombre asegurado -->
      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700 w-full"
          [ngClass]="{ 'text-red-600': (error && !nombre_asegurado), 'text-gray-700': !(error && !nombre_asegurado) }">{{ (error && !nombre_asegurado) ? '¡Campo obligatorio!' : 'Nombre completo del asegurado' }}</label>
        <input pInputText id="name" type="text" class="mt-1 p-3 w-full border border-gray-300
          rounded-md focus:outline-none focus:border-indigo-500"
          [ngClass]="{ 'border-red-600': (error && !nombre_asegurado), 'border-gray-300': !(error && !nombre_asegurado) }"
          placeholder="Ingrese nombre completo" [(ngModel)]="nombre_asegurado" (ngModelChange)="setConductor()">
      </div>

      <!-- Dirección asegurado -->
      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700 w-full">Dirección del asegurado</label>
        <input pInputText id="direction" type="text" class="mt-1 p-3 w-full border border-gray-300
          rounded-md focus:outline-none focus:border-indigo-500" placeholder="Ingrese dirección"
          [(ngModel)]="dir_asegurado">
      </div>

      <!-- Teléfono del asegurado -->
      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700 w-full">Teléfono del asegurado</label>
        <input pInputText class="mt-1 p-3 w-full border border-gray-300
        rounded-md focus:outline-none focus:border-indigo-500" type="text" placeholder="Ingrese teléfono del asegurado"
          [(ngModel)]="tel_asegurado" />
      </div>

      <!-- Correo asegurado -->
      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700 w-full">Correo del asegurado</label>
        <input pInputText id="direction" type="email" class="mt-1 p-3 w-full border border-gray-300
          rounded-md focus:outline-none focus:border-indigo-500" placeholder="Ingrese correo electrónico"
          [(ngModel)]="mail_asegurado">
      </div>

      <!-- Tipo siniestro -->
      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700 w-full"
          [ngClass]="{ 'text-red-600': (error && !selectedTipo), 'text-gray-700': !(error && !selectedTipo) }">{{ (error && !selectedTipo) ? '¡Campo obligatorio!' : 'Tipo de siniestro' }}</label>
        <p-dropdown id="drop" class="mt-1 w-full border border-gray-300 rounded-md focus:outline-none
          focus:border-indigo-500" appendTo="body" [options]="tipos" [(ngModel)]="selectedTipo" optionLabel="nombre"
          placeholder="Seleccione un tipo" panelStyleClass="panel" [style]="{ 'width': '100%' }"
          (ngModelChange)="showOthers()"
          [ngClass]="{ 'border-red-600': (error && !selectedTipo), 'border-gray-300': !(error && !selectedTipo) }"></p-dropdown>
      </div>

      <!-- Vehículo asegurado -->
      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700 w-full">Vehículo del asegurado</label>
        <input pInputText id="direction" type="text" class="mt-1 p-3 w-full border border-gray-300
          rounded-md focus:outline-none focus:border-indigo-500" placeholder="Ingrese el vehículo"
          [(ngModel)]="veh_asegurado">
      </div>

      <!-- Patente asegurado -->
      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700 w-full">Patente del asegurado</label>
        <input pInputText id="direction" type="text" class="mt-1 p-3 w-full border border-gray-300
          rounded-md focus:outline-none focus:border-indigo-500" placeholder="Ingrese patente"
          [(ngModel)]="patente_asegurado">
      </div>

      <!-- Usuario verificador -->
      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700 w-full"
          [ngClass]="{ 'text-red-600': (error && !selectedVerificador), 'text-gray-700': !(error && !selectedVerificador) }">{{ (error && !selectedVerificador) ? '¡Campo obligatorio!' : 'Verificador' }}</label>
        <p-dropdown id="drop" class="mt-1 w-full border border-gray-300 rounded-md focus:outline-none
          focus:border-indigo-500" appendTo="body" [options]="verificadores" [(ngModel)]="selectedVerificador"
          optionLabel="nombre" placeholder="Seleccione verificador" panelStyleClass="panel"
          [style]="{ 'width': '100%' }" [(ngModel)]="selectedVerificador"
          [ngClass]="{ 'border-red-600': (error && !selectedVerificador), 'border-gray-300': !(error && !selectedVerificador) }"></p-dropdown>
      </div>

      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700 w-full">Año</label>
        <input class="mt-1 w-full border border-gray-300 rounded-md focus:outline-none
          focus:border-indigo-500" [disabled]="hasAnio" [(ngModel)]="anio" placeholder="Ingrese año del vehículo"
          type="number" />
        <p-checkbox [(ngModel)]="hasAnio" class="mt-2" label="¿Se conoce el año?" [binary]="true" />
      </div>

      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700 w-full">Póliza</label>
        <input class="mt-1 w-full border border-gray-300 rounded-md focus:outline-none
          focus:border-indigo-500" [(ngModel)]="poliza" [disabled]="hasPoliza" placeholder="Ingrese la póliza"
          type="text" />
        <p-checkbox [(ngModel)]="hasPoliza" class="mt-2" label="¿Se conoce la póliza?" [binary]="true" />
      </div>

      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700 w-full">Cobertura</label>
        <input [disabled]="hasCobertura" class="mt-1 w-full border border-gray-300 rounded-md focus:outline-none
          focus:border-indigo-500" [(ngModel)]="cobertura" placeholder="Ingrese la cobertura" type="text" />
        <p-checkbox [(ngModel)]="hasCobertura" class="mt-2" label="¿Se conoce la cobertura?" [binary]="true" />
      </div>

      <!-- Datos de siniestro vial -->
      <div class="col-span-12 px-2 flex flex-col hide" [ngClass]="{ 'show': isVial }">
        <div>
          <h1 class="text-xl mb-3">Datos del conductor</h1>
          <div class="col-span-12 px-2 flex flex-col mb-3">
            <p-checkbox label="¿Es el asegurado?" [binary]="true" [(ngModel)]="sameConductor"
              (ngModelChange)="setConductor()" />
          </div>

          <div class="grid grid-cols-12 gap-4 mb-3">
            <div class="lg:col-span-6 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
              <label class="text-sm font-medium text-gray-700 w-full">Conductor del vehículo</label>
              <input pInputText id="direction" type="text" class="mt-1 p-3 w-full border border-gray-300
                  rounded-md focus:outline-none focus:border-indigo-500" placeholder="Ingrese datos conductor"
                [(ngModel)]="conductor" [readOnly]="sameConductor" [ngClass]="{ 'forbidden': sameConductor }">
            </div>

            <div class="lg:col-span-6 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
              <label class="text-sm font-medium text-gray-700 w-full">DNI del conductor</label>
              <input pInputText id="direction" type="text" class="mt-1 p-3 w-full border border-gray-300
                  rounded-md focus:outline-none focus:border-indigo-500" placeholder="Ingrese DNI conductor"
                [(ngModel)]="dni_conductor">
            </div>
          </div>

          <hr class="mb-3">
          <p-checkbox class="mb-3" label="¿Terceros involucrados?" [binary]="true" [(ngModel)]="hasTerceros" />

          <div class="hide col-span-12 mb-2" [ngClass]="{ 'show': hasTerceros }">
            <div>
              <div class="mb-3">
                <h1 class="text-xl mb-3">Datos de terceros</h1>
              </div>
              <ng-template #tercerosContainer></ng-template>
              <div class="col-span-12 px-2 pb-2 mt-3 flex flex-col justify-center items-center">
                <p>Agregar datos de tercero</p>
                <div
                  class="w-20 h-20 mt-3 bg-gray-900 rounded-lg shadow-md shadow-black/75 flex justify-center items-center"
                  pRipple (click)="generateComponent()">
                  <ng-icon name="heroPlusCircleSolid" color="white" size="2rem" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </ng-container>

  </div>
  <ng-template pTemplate="footer">
    <div class="w-full flex justify-end items-center mt-2">
      <div pRipple class="shadow-lg shadow-gray-500/50 w-auto h-16 bg-gray-800 rounded-full flex
        items-center justify-center p-5 cursor-pointer" (click)="pericia ? updateDialog() : insertDialog()">
        <p class="text-white">{{ pericia ? 'Modificar pericia' : 'Agregar pericia' }}</p>
      </div>
    </div>
  </ng-template>
</p-dialog>


<!-- Este es el template del usuario -->
<p-dialog *render="['user']" [(visible)]="visible" [modal]="true" [draggable]="false"
  [style]="{ width: '90vw', height: '70vh' }" (onHide)="dismissModal()">
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center gap-2">
      <span class="font-bold white-space-nowrap text-2xl">{{ pericia ? 'Datos pericia' : 'Agregar pericia' }}</span>
    </div>
  </ng-template>
  <div class="grid grid-cols-12 gap-4">

    <ng-container>
      <!-- Fecha de asignación -->
      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700 w-full"
          [ngClass]="{ 'text-red-600': (error && !fecha_asignado), 'text-gray-700': !(error && !fecha_asignado) }">{{ (error && !fecha_asignado) ? '¡Campo obligatorio!' : 'Fecha de asignación' }}</label>
        <p-calendar class="mt-1 p-1 w-full border border-gray-300 rounded-md focus:outline-none p-inputtext-sm
          focus:border-indigo-500" dateFormat="dd/mm/yy" panelStyleClass="panel" [style]="{ 'width': '100%' }"
          [ngClass]="{ 'border-red-600': (error && !fecha_asignado), 'border-gray-300': !(error && !fecha_asignado) }"
          appendTo="body" placeholder="Ingrese fecha" [showIcon]="true" [(ngModel)]="fecha_asignado"
          [disabled]="true"></p-calendar>
      </div>

      <!-- Aseguradora -->
      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700 w-full"
          [ngClass]="{ 'text-red-600': (error && !selectedAseguradora), 'text-gray-700': !(error && !selectedAseguradora) }">{{ (error && !selectedAseguradora) ? '¡Campo obligatorio!' : 'Aseguradora' }}</label>
        <p-dropdown id="drop" class="mt-1 w-full border border-gray-300 rounded-md focus:outline-none
          focus:border-indigo-500" appendTo="body" [options]="aseguradoras" [(ngModel)]="selectedAseguradora"
          optionLabel="nombre" placeholder="Seleccione una aseguradora" panelStyleClass="panel"
          [ngClass]="{ 'border-red-600': (error && !selectedAseguradora), 'border-gray-300': !(error && !selectedAseguradora) }"
          [style]="{ 'width': '100%' }" [readonly]="true"></p-dropdown>
      </div>

      <!-- Número de siniestro -->
      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700"
          [ngClass]="{ 'text-red-600': (error && !n_siniestro), 'text-gray-700': !(error && !n_siniestro) }">{{ (error && !n_siniestro) ? '¡Campo obligatorio!' : 'N° siniestro' }}</label>
        <input pInputText id="siniestro" type="number" class="mt-1 p-3 w-full border border-gray-300
          rounded-md focus:outline-none focus:border-indigo-500"
          [ngClass]="{ 'border-red-600': (error && !n_siniestro), 'border-gray-300': !(error && !n_siniestro) }"
          placeholder="Ingrese siniestro" [(ngModel)]="n_siniestro" [readOnly]="true">
      </div>

      <!-- Número de denuncia -->
      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700"
          [ngClass]="{ 'text-red-600': (error && !n_denuncia), 'text-gray-700': !(error && !n_denuncia) }">{{ (error && !n_denuncia) ? '¡Campo obligatorio!' : 'N° denuncia' }}</label>
        <input pInputText id="denuncia" type="number" class="mt-1 p-3 w-full border border-gray-300
          rounded-md focus:outline-none focus:border-indigo-500"
          [ngClass]="{ 'border-red-600': (error && !n_denuncia), 'border-gray-300': !(error && !n_denuncia) }"
          placeholder="Ingrese denuncia" [(ngModel)]="n_denuncia" [readOnly]="true">
      </div>

      <!-- Nombre asegurado -->
      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700 w-full"
          [ngClass]="{ 'text-red-600': (error && !nombre_asegurado), 'text-gray-700': !(error && !nombre_asegurado) }">{{ (error && !nombre_asegurado) ? '¡Campo obligatorio!' : 'Nombre completo del asegurado' }}</label>
        <input pInputText id="name" type="text" class="mt-1 p-3 w-full border border-gray-300
          rounded-md focus:outline-none focus:border-indigo-500"
          [ngClass]="{ 'border-red-600': (error && !nombre_asegurado), 'border-gray-300': !(error && !nombre_asegurado) }"
          placeholder="Ingrese nombre completo" [(ngModel)]="nombre_asegurado" [readOnly]="true">
      </div>

      <!-- Dirección asegurado -->
      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700 w-full">Dirección del asegurado</label>
        <input pInputText id="direction" type="text" class="mt-1 p-3 w-full border border-gray-300
          rounded-md focus:outline-none focus:border-indigo-500" placeholder="Ingrese dirección"
          [(ngModel)]="dir_asegurado" [readOnly]="true">
      </div>

      <!-- Teléfono del asegurado -->
      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700 w-full">Teléfono del asegurado</label>
        <input pInputText class="mt-1 p-3 w-full border border-gray-300
        rounded-md focus:outline-none focus:border-indigo-500" type="text" placeholder="Ingrese teléfono del asegurado"
          [(ngModel)]="tel_asegurado" [readOnly]="true" />
      </div>

      <!-- Correo asegurado -->
      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700 w-full">Correo del asegurado</label>
        <input pInputText id="direction" type="email" class="mt-1 p-3 w-full border border-gray-300
          rounded-md focus:outline-none focus:border-indigo-500" placeholder="Ingrese correo electrónico"
          [(ngModel)]="mail_asegurado" [readOnly]="true">
      </div>

      <!-- Tipo siniestro -->
      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700 w-full"
          [ngClass]="{ 'text-red-600': (error && !selectedTipo), 'text-gray-700': !(error && !selectedTipo) }">{{ (error && !selectedTipo) ? '¡Campo obligatorio!' : 'Tipo de siniestro' }}</label>
        <p-dropdown id="drop" class="mt-1 w-full border border-gray-300 rounded-md focus:outline-none
          focus:border-indigo-500" appendTo="body" [options]="tipos" [(ngModel)]="selectedTipo" optionLabel="nombre"
          placeholder="Seleccione un tipo" panelStyleClass="panel" [style]="{ 'width': '100%' }"
          [ngClass]="{ 'border-red-600': (error && !selectedTipo), 'border-gray-300': !(error && !selectedTipo) }"
          [readonly]="true"></p-dropdown>
      </div>

      <!-- Vehículo asegurado -->
      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700 w-full">Vehículo del asegurado</label>
        <input pInputText id="direction" type="text" class="mt-1 p-3 w-full border border-gray-300
          rounded-md focus:outline-none focus:border-indigo-500" placeholder="Ingrese el vehículo"
          [(ngModel)]="veh_asegurado" [readOnly]="true">
      </div>

      <!-- Patente asegurado -->
      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700 w-full">Patente del asegurado</label>
        <input pInputText id="direction" type="text" class="mt-1 p-3 w-full border border-gray-300
          rounded-md focus:outline-none focus:border-indigo-500" placeholder="Ingrese patente"
          [(ngModel)]="patente_asegurado" [readOnly]="true">
      </div>

      <!-- Usuario verificador -->
      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700 w-full"
          [ngClass]="{ 'text-red-600': (error && !selectedVerificador), 'text-gray-700': !(error && !selectedVerificador) }">{{ (error && !selectedVerificador) ? '¡Campo obligatorio!' : 'Verificador' }}</label>
        <p-dropdown id="drop" class="mt-1 w-full border border-gray-300 rounded-md focus:outline-none
          focus:border-indigo-500" appendTo="body" [options]="verificadores" [(ngModel)]="selectedVerificador"
          optionLabel="nombre" placeholder="Seleccione verificador" panelStyleClass="panel"
          [style]="{ 'width': '100%' }" [(ngModel)]="selectedVerificador" [readonly]="true"
          [ngClass]="{ 'border-red-600': (error && !selectedVerificador), 'border-gray-300': !(error && !selectedVerificador) }"></p-dropdown>
      </div>

      @if(isVial) {
      <!-- Datos de siniestro vial -->
      <div class="col-span-12 px-2 flex flex-col hide" [ngClass]="{ 'show': isVial }">
        <div>
          <h1 class="text-xl mb-3">Datos del conductor</h1>

          <div class="grid grid-cols-12 gap-4 mb-3">
            <div class="lg:col-span-6 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
              <label class="text-sm font-medium text-gray-700 w-full">Conductor del vehículo</label>
              <input pInputText id="direction" type="text" class="mt-1 p-3 w-full border border-gray-300
                    rounded-md focus:outline-none focus:border-indigo-500" placeholder="Ingrese datos conductor"
                [(ngModel)]="conductor" [readOnly]="true" [ngClass]="{ 'forbidden': sameConductor }">
            </div>

            <div class="lg:col-span-6 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
              <label class="text-sm font-medium text-gray-700 w-full">DNI del conductor</label>
              <input pInputText id="direction" type="text" class="mt-1 p-3 w-full border border-gray-300
                    rounded-md focus:outline-none focus:border-indigo-500" placeholder="Ingrese DNI conductor"
                [(ngModel)]="dni_conductor" [readOnly]="true">
            </div>
          </div>

          @if (pericia ? pericia.terceros!.length > 0 : false) {
          <hr class="mb-3">
          <div class="hide col-span-12 mb-2" [ngClass]="{ 'show': hasTerceros }">
            <div>
              <div class="mb-3">
                <h1 class="text-xl mb-3">Datos de terceros</h1>
              </div>
              @for (tercero of pericia?.terceros; track $index) {
              <app-terceros [id]="tercero.id!" [nombre]="tercero.nombre" [dni]="'tercero.dni'"
                [aseguradora]="tercero.aseguradora" [readonly]="true" />
              }
            </div>
          </div>
          }
        </div>
      </div>
      }




    </ng-container>

  </div>
</p-dialog>

<app-dialog #dialog />