<!-- ! Filter-->
<app-filter-siniestros (changeInput)="filter($event)" />

<p-paginator #paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
  [totalRecords]="totalRecords" [style]="{ 'width': '100%' }" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>

<p-table #table [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
  [styleClass]="'p-datatable-sm mt-3'" [value]="siniestros" dataKey="id" (onSort)="onSort($event)">
  <ng-template pTemplate="header">
    <tr class="dark-tr">
      <th pSortableColumn="id_visible">
        ID <ng-icon name="{{asc ? 'heroBarsArrowUpSolid' : 'heroBarsArrowDownSolid'}}" />
      </th>
      <th>Nombre</th>
      <th>Estado</th>
      <th class="text-center">Acciones</th>
      <th>Fecha creación</th>
      <th>Cargado por:</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-siniestro>
    <tr class="hover:bg-gray-200 transition-all duration-500 cursor-pointer" (click)="onRowSelect(siniestro)">
      <td>
        <p pTooltip="{{siniestro.id}}">{{siniestro.id}}</p>
      </td>
      <td>
        <p pTooltip="{{siniestro.nombre}}">{{siniestro.nombre}}</p>
      </td>
      <td>
        <p pTooltip="{{siniestro.activo ? 'Activo' : 'Inactivo'}}">{{siniestro.activo ? 'Activo' : 'Inactivo'}}</p>
      </td>
      <td class="flex justify-center items-center">
        <div pTooltip="{{siniestro.activo ? 'Desactivar' : 'Activar'}} siniestro" tooltipPosition="bottom" pRipple
          class="shadow-lg shadow-gray-500/50 text-sm w-auto rounded-full flex
            items-center justify-center p-2 cursor-pointer transition-all duration-500"
          [ngClass]="{ 'bg-gray-800 hover:bg-gray-600': !siniestro.activo, 'bg-purple-500 hover:bg-purple-300': siniestro.activo }"
          (click)="onClickButton = true">
          <p class="text-white">{{ siniestro.activo ? 'Desactivar' : 'Activar' }}</p>
        </div>
      </td>
      <td>
        <p pTooltip="{{siniestro.fecha_creado | date: 'dd/MM/yyyy'}}">{{siniestro.fecha_creado | date: 'dd/MM/yyyy'}}
        </p>
      </td>
      <td>
        <p
          pTooltip="{{siniestro.usuario_carga ? siniestro.usuario_carga.nombre + ' ' + siniestro.usuario_carga.apellido : 'Sin definir'}}">
          {{siniestro.usuario_carga ? siniestro.usuario_carga.nombre + ' ' + siniestro.usuario_carga.apellido : 'Sin definir'}}
        </p>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-paginator #paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
  [totalRecords]="totalRecords" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
