<div class="fixed bottom-24 md:right-8 right-2 flex justify-center items-center">
    <div (click)="setViewPdf()" tooltipPosition="left" pTooltip="Visualizar PDF" class="bg-red-700 rounded-full w-9 h-9 absolute transition-all duration-300 flex
        justify-center items-center" pRipple [ngClass]="{ '-translate-y-16': show }">
        <ng-icon name="heroDocumentSolid" color="white" size="1.3rem" />
    </div>
    <div tooltipPosition="left" pTooltip="Seleccionar pericia"
        class="bg-gray-900 rounded-full w-9 h-9 absolute transition-all duration-300 flex items-center justify-center"
        pRipple [ngClass]="{ 'translate-y-[-3rem]': show, 'translate-x-[-3rem]': show }" (click)="show = !show">
        <ng-icon name="heroMagnifyingGlassSolid" color="white" size="1.3rem" />
    </div>
    <div tooltipPosition="left" pTooltip="Modificar informe"
        class="bg-green-900 rounded-full w-9 h-9 absolute transition-all duration-300 flex justify-center items-center"
        pRipple [ngClass]="{ '-translate-x-16': show }" (click)="show = !show">
        <ng-icon name="heroArrowDownOnSquareSolid" color="white" size="1.3rem" />
    </div>
    <div pRipple class="bg-gray-900 w-14 h-14 rounded-full shadow-md 
        shadow-gray-500/50 flex justify-center items-center" (click)="show = !show">
        <ng-icon name="heroPlusCircleSolid" color="white" size="2rem" />
    </div>
</div>