<p-paginator #paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
  [totalRecords]="totalRecords" [style]="{ 'width': '100%' }" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>

<p-table #table [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
  [styleClass]="'p-datatable-sm mt-3'" [value]="pericias" dataKey="id" (onSort)="onSort($event)">
  <ng-template pTemplate="header">
    <tr class="dark-tr">
      <th pSortableColumn="id_visible">
        ID <ng-icon name="{{asc ? 'heroBarsArrowUpSolid' : 'heroBarsArrowDownSolid'}}" />
      </th>
      <th>Fecha</th>
      <th>Verificador</th>
      <th>Tipo de siniestro</th>
      <th>Siniestro n°</th>
      <th>Denuncia n°</th>
      <th>Nombre asegurado</th>
      <th>¿Tiene informe?</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-pericia>
    <tr class="hover:bg-gray-200 transition-all duration-500 cursor-pointer" (click)="onRowSelect(pericia)">
      <td>
        <p>{{pericia.id}}</p>
      </td>
      <td>
        <p>
          {{pericia.fecha_asignado | date: 'dd/MM/yyyy'}}
        </p>
      </td>
      <td>
        <p>
          {{pericia.verificador ? pericia.verificador.nombre + ' ' + pericia.verificador.apellido : 'Sin asignar' }}</p>
      </td>
      <td>
        <p>{{pericia.tipo_siniestro ? pericia.tipo_siniestro.nombre : 'Sin asignar'}}</p>
      </td>
      <td>
        <p>{{pericia.n_siniestro}}</p>
      </td>
      <td>
        <p>{{pericia.n_denuncia}}</p>
      </td>
      <td>
        <p>{{pericia.nombre_asegurado}}</p>
      </td>
      <td>
        <p>
          {{pericia.informe ? 'Si' : 'No'}}</p>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-paginator #paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
  [totalRecords]="totalRecords" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>