<div class="relative">
  <!-- <div class="grid grid-cols-12 gap-4">
    <div class="lg:col-span-2 sm:col-span-6 md:col-span-3 col-span-6">
      <app-card-users />
    </div>
  </div> -->

  <div class="mt-4">
    <app-table-aseguradoras #table (selectedRow)="modal.showModal($event)" (setAseguradoraInactive)="modal.changeState($event)" />
  </div>
</div>

<app-modal-add-aseguradora #modal (emitNewAseguradora)="addAseguradora($event)" (emitDelete)="deleteAseguradora($event)" />

<app-button [text]="'Agregar aseguradora'" [moreWidth]="true" (click)="modal.showModal()" />
