<div class="w-full p-2 md:p-6 fixed top-0 z-50 bg-transparent">
  <div class="bg-gray-800 w-full h-20 rounded-xl flex justify-between items-center text-white px-3 text-xl shadow-lg shadow-gray-500/50">
    <img src="assets/img/logo-removebg.png" alt="Logo" width="40">

    <a class="md:block hidden" [routerLink]="['/home/dashboard']" (click)="show = !show" >Inicio</a>
    <a class="md:block hidden" [routerLink]="['/home/pericias']" (click)="show = !show" >Pericias</a>
    <a class="md:block hidden" href="">Informes</a>
    <a class="md:block hidden" [routerLink]="['/home/asesores']" (click)="show = !show" >Asesores</a>
    <a class="md:block hidden" href="">Aseguradoras</a>
    <a class="md:block hidden" href="">Siniestros</a>
    <a class="md:block hidden" href="">Usuarios</a>

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="w-6 h-6 md:block hidden" (click)="logout()">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
    </svg>

    <div class="relative w-6 h-6 md:hidden">
      <svg class="w-6 h-6 md:hidden absolute top-0 left-0 transition-all duration-200"
        [ngClass]="{'rotate-180': show, 'opacity-0': show}" (click)="show = !show" xmlns="http://www.w3.org/2000/svg"
        fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>

      <svg class="w-6 h-6 md:hidden absolute transition-all duration-200"
        [ngClass]="{'rotate-180': show, 'opacity-1': show, 'opacity-0': !show}" (click)="show = !show"
        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
    </div>


  </div>
</div>

<!-- ! ESTILO RESPONSIVO -->
<!-- ! SIDE TAB -->
<div
  class="md:hidden z-50 h-screen md:w-1/3 w-1/2 bg-gray-800 fixed top-0 left-0 transition-all duration-200 -translate-x-full p-4 sm:p-8 flex-col justify-end"
  [ngClass]="{'-translate-x-full': !show}">
  <div class="w-full p-2 flex justify-end">
    <svg class="w-6 h-6" (click)="show = !show" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
      stroke-width="1.5" stroke="white">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
    </svg>
  </div>

  <div
    class="w-full p-2 text-end sm:text-lg text-base text-white bg-gray-700 rounded-xl mt-3
      text-ellipsis overflow-hidden" [routerLink]="['/home/dashboard']" (click)="show = !show" >
    <a>Inicio</a>
  </div>
  <div
    class="w-full p-2 text-end sm:text-lg text-base text-white bg-gray-700 rounded-xl mt-3
      text-ellipsis overflow-hidden" [routerLink]="['/home/pericias']" (click)="show = !show" >
    <a>Pericias</a>
  </div>
  <div
    class="w-full p-2 text-end sm:text-lg text-base text-white bg-gray-700 rounded-xl mt-3
      text-ellipsis overflow-hidden">
    <a>Informes</a>
  </div>
  <div
    class="w-full p-2 text-end sm:text-lg text-base text-white bg-gray-700 rounded-xl mt-3
      text-ellipsis overflow-hidden" [routerLink]="['/home/asesores']" (click)="show = !show" >
    <a>Asesores</a>
  </div>
  <div
    class="w-full p-2 text-end sm:text-lg text-base text-white bg-gray-700 rounded-xl mt-3
      text-ellipsis overflow-hidden">
    <a>Aseguradoras</a>
  </div>
  <div
    class="w-full p-2 text-end sm:text-lg text-base text-white bg-gray-700 rounded-xl mt-3
      text-ellipsis overflow-hidden">
    <a>Siniestros</a>
  </div>
  <div
    class="w-full p-2 text-end sm:text-lg text-base text-white bg-gray-700 rounded-xl mt-3
      text-ellipsis overflow-hidden">
    <a class="" href="">Usuarios</a>
  </div>
  <div
    class="w-full p-2 text-end sm:text-lg text-base text-white bg-gray-700 rounded-xl mt-3
      text-ellipsis overflow-hidden" (click)="logout()">
    <a class="">Salir</a>
  </div>
</div>

<!-- ! BACKDROP -->
<div (click)="show = !show"
  class="md:hidden h-screen w-screen bg-gray-800/75 fixed top-0 left-0 transition-all duration-200 z-40"
  [ngClass]="{'opacity-0': !show, 'pointer-events-none': !show}"></div>


<app-dialog #dialog />
