:host ::ng-deep p-accordion#terceros .p-accordion-header-link {
  background: #222c39;
  color: white;
  transition: all 500ms;
}

:host ::ng-deep p-accordion#terceros .p-accordion-header-link:hover {
  background: #222c39c5;
}

:host ::ng-deep p-accordion#terceros .p-accordion-content {
  border: solid 1px #222c39c5;
}
