.hide {
  overflow: hidden;
  transition: all 0.3s ease;
  display: grid;
  grid-template-rows: 0fr;
}

.hide > div {
  overflow: hidden;
}

.show {
  grid-template-rows: 1fr;
  transition: all 0.3s ease;
}

:host ::ng-deep p-tabView#tab-view .p-tabview-nav-link {
  padding: 12px;
  transition: all 500ms;
  border: solid 1px rgba(128, 128, 128, 0.267);
}

:host ::ng-deep p-tabView#tab-view li {
  padding: 0 5px 0 0;
}

:host ::ng-deep p-tabView#tab-view .p-tabview-nav {
  background: none !important;
}

:host ::ng-deep p-tabView#tab-view .p-tabview-nav-link:hover {
  border-bottom: solid 1.5px blue;
  background: #1f2937;
  color: white;
}

:host ::ng-deep p-tabView#tab-view .p-tabview-panels {
  border: solid 1px rgba(128, 128, 128, 0.267);
}

:host ::ng-deep p-tabView#tab-view .p-highlight > .p-tabview-nav-link {
  background: #1f2937;
  color: white;
}

:host ::ng-deep p-accordion#accordion .p-accordion-header-link {
  background: #222c39;
  color: white;
  transition: all 500ms;
}

:host ::ng-deep p-accordion#accordion .p-accordion-header-link:hover {
  background: #222c39c5;
}

:host ::ng-deep p-accordion#accordion .p-accordion-content {
  border: solid 1px #222c39c5;
}
