<div>
  <h1 class="text-center my-6 text-2xl md:text-4xl">Informe de investigación</h1>
  <div class="w-full flex justify-center items-center">
    <div class="mr-3 cursor-pointer p-4 rounded-full bg-gray-900 text-white mb-4 flex flex-row
      justify-center items-center shadow-lg shadow-gray-500/50" pRipple (click)="selectPericia()">
      Seleccionar pericia <ng-icon class="ml-2" name="heroMagnifyingGlassSolid" />
    </div>

    <div class="ml-3 cursor-pointer p-4 rounded-full bg-red-700 text-white mb-4 flex flex-row
      justify-center items-center shadow-lg shadow-gray-500/50" pRipple (click)="viewPdf()">
      Visualizar PDF <ng-icon class="ml-2" name="heroDocumentSolid" />
    </div>

    @if(pericia?.abierta) {
    <div *render="['admin']" class="ml-3 cursor-pointer p-4 rounded-full bg-purple-900 text-white mb-4 flex flex-row
        justify-center items-center shadow-lg shadow-gray-500/50" pRipple (click)="closeInforme()">
      Cerrar informe <ng-icon class="ml-2" name="heroDocumentCheckSolid" />
    </div>
    }

    @if(pericia?.informe) {
    @if(!terminado) {
    <div class="ml-3 cursor-pointer p-4 rounded-full bg-emerald-900 text-white mb-4 flex flex-row
          justify-center items-center shadow-lg shadow-gray-500/50" pRipple (click)="terminarInforme()">
      Terminar informe <ng-icon class="ml-2" name="heroDocumentCheckSolid" />
    </div>
    }
    }
  </div>

  <div class="hide w-full" [ngClass]="{ 'show': close }">
    <div>
      <h1 class="p-4 rounded-md text-center text-xl bg-orange-400" [ngClass]="{'mb-3': close}">Esta pericia se encuentra
        cerrada, no se puede
        modificar el informe ya creado.</h1>
    </div>
  </div>

  <p-tabView id="tab-view" [scrollable]="true">
    <p-tabPanel header="Datos del siniestro">
      <h1 class="text-center my-6 text-2xl md:text-4xl">Datos del siniestro</h1>
      <div class="grid grid-cols-12 gap-4 mt-3">
        <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
          <label class="text-sm font-medium text-gray-700 w-full">Tipo de siniestro</label>
          <input pInputText class="mt-1 p-3 w-full border border-gray-300 rounded-md focus:outline-none
            focus:border-indigo-500" placeholder="Ingrese tipo de siniestro." [(ngModel)]="tipo_siniestro"
            [disabled]="!pericia" />
        </div>

        <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
          <label class="text-sm font-medium text-gray-700 w-full">Tipo hecho</label>
          <input pInputText class="mt-1 p-3 w-full border border-gray-300 rounded-md focus:outline-none
            focus:border-indigo-500" placeholder="Ingrese tipo hecho." [(ngModel)]="hecho" [disabled]="!pericia" />
        </div>

        <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
          <label class="text-sm font-medium text-gray-700 w-full">Número de siniestro</label>
          <input pInputText class="mt-1 p-3 w-full border border-gray-300 rounded-md focus:outline-none
        focus:border-indigo-500" placeholder="Ingrese n° siniestro." [(ngModel)]="n_siniestro" [disabled]="!pericia" />
        </div>

        <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
          <label class="text-sm font-medium text-gray-700 w-full">Número de denuncia</label>
          <input pInputText class="mt-1 p-3 w-full border border-gray-300 rounded-md focus:outline-none
        focus:border-indigo-500" placeholder="Ingrese n° denuncia." [(ngModel)]="n_denuncia" [disabled]="!pericia" />
        </div>
      </div>

      <!-- Datos del siniestro -->
      <h1 class="text-center my-6 text-2xl md:text-4xl">Datos del asegurado</h1>
      <div class="grid grid-cols-12 gap-4">
        <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
          <label class="text-sm font-medium text-gray-700 w-full">Nombre del asegurado</label>
          <input pInputText class="mt-1 p-3 w-full border border-gray-300 rounded-md focus:outline-none
        focus:border-indigo-500" placeholder="Ingrese nombre del asegurado." [(ngModel)]="nombre_asegurado"
            [disabled]="!pericia" />
        </div>

        <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
          <label class="text-sm font-medium text-gray-700 w-full">Domicilio del asegurado</label>
          <input pInputText class="mt-1 p-3 w-full border border-gray-300 rounded-md focus:outline-none
        focus:border-indigo-500" placeholder="Ingrese domicilio del asegurado." [(ngModel)]="dir_asegurado"
            [disabled]="!pericia" />
        </div>

        <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
          <label class="text-sm font-medium text-gray-700 w-full">Teléfono del asegurado</label>
          <input pInputText class="mt-1 p-3 w-full border border-gray-300 rounded-md focus:outline-none
        focus:border-indigo-500" placeholder="Ingrese teléfono del asegurado." [(ngModel)]="tel_asegurado"
            [disabled]="!pericia" />
        </div>

        <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
          <label class="text-sm font-medium text-gray-700 w-full">Email del asegurado</label>
          <input pInputText class="mt-1 p-3 w-full border border-gray-300 rounded-md focus:outline-none
        focus:border-indigo-500" placeholder="Ingrese email del asegurado." [(ngModel)]="email"
            [disabled]="!pericia" />
        </div>

        <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
          <label class="text-sm font-medium text-gray-700 w-full">Póliza</label>
          <input pInputText class="mt-1 p-3 w-full border border-gray-300 rounded-md focus:outline-none
        focus:border-indigo-500" placeholder="Ingrese póliza." [(ngModel)]="n_poliza"
            [disabled]="!pericia || poliza" />

          <div class="flex items-center mt-2 ml-2">
            <p-checkbox [(ngModel)]="poliza" [binary]="true" [disabled]="!pericia"></p-checkbox>
            <label class="ml-2">¿No tiene póliza?</label>
          </div>
        </div>

        <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
          <label class="text-sm font-medium text-gray-700 w-full">Tipo cobertura</label>
          <input pInputText class="mt-1 p-3 w-full border border-gray-300 rounded-md focus:outline-none
        focus:border-indigo-500" placeholder="Ingrese tipo cobertura." [(ngModel)]="tipo_cobertura"
            [disabled]="!pericia || cobertura" />

          <div class="flex items-center mt-2 ml-2">
            <p-checkbox [(ngModel)]="cobertura" [binary]="true" [disabled]="!pericia"></p-checkbox>
            <label class="ml-2">¿No tiene un tipo de cobertura?</label>
          </div>
        </div>

        <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
          <label class="text-sm font-medium text-gray-700 w-full">Bien asegurado</label>
          <input pInputText class="mt-1 p-3 w-full border border-gray-300 rounded-md focus:outline-none
        focus:border-indigo-500" placeholder="Ingrese bien asegurado." [(ngModel)]="veh_asegurado"
            [disabled]="!pericia" />
        </div>

        <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
          <label class="text-sm font-medium text-gray-700 w-full">Año</label>
          <input pInputText class="mt-1 p-3 w-full border border-gray-300 rounded-md focus:outline-none
        focus:border-indigo-500" placeholder="Ingrese año." [(ngModel)]="text_anio" [disabled]="!pericia || anio" />

          <div class="flex items-center mt-2 ml-2">
            <p-checkbox [(ngModel)]="anio" [binary]="true" [disabled]="!pericia"></p-checkbox>
            <label class="ml-2">¿Se desconoce el año?</label>
          </div>
        </div>

        <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
          <label class="text-sm font-medium text-gray-700 w-full">Patente</label>
          <input pInputText class="mt-1 p-3 w-full border border-gray-300 rounded-md focus:outline-none
        focus:border-indigo-500" placeholder="Ingrese patente." [(ngModel)]="patente_asegurado"
            [disabled]="!pericia || patente" />

          <div class="flex items-center mt-2 ml-2">
            <p-checkbox [(ngModel)]="patente" [binary]="true" [disabled]="!pericia"></p-checkbox>
            <label class="ml-2">¿No tiene patente?</label>
          </div>
        </div>
      </div>

      <!-- Sección vial -->
      @if(hasTerceros) {
      <h1 class="text-center my-6 text-2xl md:text-4xl">Datos del conductor</h1>

      <div class="grid grid-cols-12 gap-4">
        <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
          <label class="text-sm font-medium text-gray-700 w-full">Nombre del conductor</label>
          <input pInputText class="mt-1 p-3 w-full border border-gray-300 rounded-md focus:outline-none
                    focus:border-indigo-500" placeholder="Ingrese nombre del asegurado." [(ngModel)]="conductor"
            [disabled]="!pericia" />
        </div>

        <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
          <label class="text-sm font-medium text-gray-700 w-full">DNI del conductor</label>
          <input pInputText class="mt-1 p-3 w-full border border-gray-300 rounded-md focus:outline-none
                    focus:border-indigo-500" placeholder="Ingrese nombre del asegurado." [(ngModel)]="dni_conductor"
            [disabled]="!pericia" />
        </div>
      </div>
      }

      <!-- Ampliación de denuncia -->
      <h1 class="text-center my-6 text-2xl md:text-4xl">Ampliación de denuncia</h1>
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12 px-2 flex flex-col">
          <textarea pInputTextarea class="p-3 border border-gray-300 rounded-md focus:outline-none
        focus:border-indigo-500 mt-4 w-full" placeholder="Ingrese ampliación de denuncia." rows="5"
            [(ngModel)]="amp_denuncia" [disabled]="!pericia"></textarea>
        </div>
      </div>
      <!-- !INPUT DE IMÁGENES -->
      <hr class="my-10">
      <app-attachments [helpText]="'Agregue aquí: Ampliación de denuncia y documentación del asegurado.'"
        [images]="documents" (hasChange)="setList(documents, $event)" [type]="'documents'" [readonly]="true" />

      <hr class="my-10">
      <app-attachments [helpText]="'Agregue aquí: fotografías del vehículo.'" [title]="'Imágenes del vehículo'"
        [images]="car" (hasChange)="setList(car, $event)" [type]="'asegurado-auto'" [readonly]="true" />
    </p-tabPanel>
    <p-tabPanel header="Datos de terceros" [disabled]="!hasTerceros">
      <h1 class="text-center my-6 text-2xl md:text-4xl">Datos de terceros</h1>
      <ng-template #tercerosContainer></ng-template>
      <div class="mt-2 col-span-12 px-2 pb-2 flex flex-col justify-center items-center">
        <p>Agregar datos de tercero</p>
        <div class="w-20 h-20 mt-3 bg-gray-900 rounded-lg shadow-md shadow-black/75 flex justify-center items-center"
          pRipple (click)="generateComponent()">
          <ng-icon name="heroPlusCircleSolid" color="white" size="2rem" />
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Daños" [disabled]="!hasTerceros">
      <app-attachments [helpText]="'Agregue aquí: Imágenes con los daños de los vehículos.'" [images]="damages"
        [type]="'damages'" />
    </p-tabPanel>
    <p-tabPanel header="Ruedas" [disabled]="!isRoboRueda">
      <h1 class="text-center my-6 text-2xl md:text-4xl">Completar solo las que correspondan</h1>
      <p-accordion id="accordion">
        <p-accordionTab>
          <ng-template pTemplate="header">
            <div>
              <p>Rueda delantera izquierda</p>
            </div>
          </ng-template>
          <app-attachments
            [helpText]="'Agregue aquí: Imágenes de la rueda delantera izquierda, completa, desgaste y DOT.'"
            [images]="rdi" (hasChange)="setList(rdi, $event)" [type]="'rdi'" [readonly]="true" />
        </p-accordionTab>
      </p-accordion>
      <p-accordion id="accordion">
        <p-accordionTab>
          <ng-template pTemplate="header">
            <div>
              <p>Rueda delantera derecha</p>
            </div>
          </ng-template>
          <app-attachments
            [helpText]="'Agregue aquí: Imágenes de la rueda delantera derecha, completa, desgaste y DOT.'"
            [images]="rdd" (hasChange)="setList(rdd, $event)" [type]="'rdd'" [readonly]="true" />
        </p-accordionTab>
      </p-accordion>
      <p-accordion id="accordion">
        <p-accordionTab>
          <ng-template pTemplate="header">
            <div>
              <p>Rueda trasera izquierda</p>
            </div>
          </ng-template>
          <app-attachments
            [helpText]="'Agregue aquí: Imágenes de la rueda trasera izquierda, completa, desgaste y DOT.'"
            [images]="rti" (hasChange)="setList(rti, $event)" rti [type]="'rti'" [readonly]="true" />
        </p-accordionTab>
      </p-accordion>
      <p-accordion id="accordion">
        <p-accordionTab>
          <ng-template pTemplate="header">
            <div>
              <p>Rueda trasera derecha</p>
            </div>
          </ng-template>
          <app-attachments [helpText]="'Agregue aquí: Imágenes de la rueda trasera derecha, completa, desgaste y DOT.'"
            [images]="rtd" (hasChange)="setList(rtd, $event)" [type]="'rtd'" [readonly]="true" />
        </p-accordionTab>
      </p-accordion>
      <p-accordion id="accordion">
        <p-accordionTab>
          <ng-template pTemplate="header">
            <div>
              <p>Rueda de auxilio</p>
            </div>
          </ng-template>
          <app-attachments [helpText]="'Agregue aquí: Imágenes de la rueda de auxilio, completa, desgaste y DOT.'"
            [images]="rda" (hasChange)="setList(rda, $event)" [type]="'rda'" [readonly]="true" />
        </p-accordionTab>
      </p-accordion>
    </p-tabPanel>
    <p-tabPanel header="Otros">
      <app-attachments [helpText]="'Agregue aquí: Imágenes varias.'" [images]="others" [type]="'others'" />
    </p-tabPanel>
    <p-tabPanel header="Relevamiento">
      <h1 class="text-center my-6 text-2xl md:text-4xl">Según el relevamiento realizado podemos decir:</h1>
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12 px-2 flex flex-col">
          <textarea pInputTextarea class="p-3 border border-gray-300 rounded-md focus:outline-none
          focus:border-indigo-500 mt-4 w-full" placeholder="Ingrese conclusiones según el relevamiento." rows="6"
            [(ngModel)]="relevamiento" [disabled]="!pericia">
      </textarea>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel *render="['admin']" header="Conclusión">
      <!-- Conclusión -->
      <h1 class="text-center my-6 text-2xl md:text-4xl">Conclusión</h1>
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12 px-2 flex flex-col">
          <textarea pInputTextarea class="p-3 border border-gray-300 rounded-md focus:outline-none
        focus:border-indigo-500 mt-4 w-full" placeholder="Ingrese conclusión." rows="6" [(ngModel)]="conclusion"
            [disabled]="!pericia"></textarea>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>

  <app-dialog #dialog />


  <p-dialog header="Seleccionar pericia" [(visible)]="visibleInforme" [modal]="true" (onShow)="setDefault()"
    [style]="{ width: '90vw', height: '90vh' }" [draggable]="false" [resizable]="false">
    <div class="w-full h-full">
      <h1 class="text-center my-6 md:text-2xl text-base">Seleccione una pericia para continuar. Tenga en cuenta que se
        visualizaran solo las que tenga asignados y estén abiertas.</h1>
      <app-table-pericias-informes (selectedItem)="initModule($event)" #table />
    </div>
  </p-dialog>

  <!-- @if(!close && !terminado) { -->
  <app-button [text]="!pericia?.informe ? 'Cargar informe' : 'Modificar informe'"
    [moreWidth]="!pericia?.informe ? false : true" [upload]="true"
    (click)="!pericia?.informe ? onUploadInforme() : onUpdateInforme()" />
  <!-- } -->
</div>