<p-dialog [(visible)]="visible" [modal]="true" [draggable]="false" [style]="{ width: '90vw' }"
  (onHide)="dismissModal()">
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center gap-2">
      <span class="font-bold white-space-nowrap text-2xl">{{!asesor ? 'Agregar asesor' : 'Modificar asesor'}}</span>
      <!-- ! Tips solo para nuevo asesor -->
      <div *ngIf="!asesor" class="w-6 h-6 mt-1 rounded-full flex justify-center items-center bg-gray-500">
        <p class="p-1 text-white" [pTooltip]="tooltipText" [tooltipStyleClass]="'tooltip-custom'"
          tooltipPosition="bottom">?</p>
      </div>
    </div>
  </ng-template>
  <div class="grid grid-cols-12 gap-4">

    <!-- !Esta vista es de carga de nuevo asesor -->
    <ng-container>
      <!-- Nombre asesor -->
      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700 w-full"
          [ngClass]="{ 'text-red-600': (error && !nombre), 'text-gray-700': !(error && !nombre) }">{{ (error && !nombre) ? '¡Campo obligatorio!' :'Nombre del asesor'  }}</label>
        <input pInputText id="name" type="text" class="mt-1 p-3 w-full border
          rounded-md focus:outline-none focus:border-indigo-500"
          [ngClass]="{ 'border-red-600': (error && !nombre), 'border-gray-300': !(error && !nombre) }"
          placeholder="Ingrese nombre completo" [(ngModel)]="nombre">
      </div>

      <!-- Apellido asesor -->
      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700 w-full"
          [ngClass]="{ 'text-red-600': (error && !apellido), 'text-gray-700': !(error && !apellido) }">{{ (error && !apellido) ? '¡Campo obligatorio!' : 'Apellido del asesor' }}</label>
        <input pInputText id="direction" type="text" class="mt-1 p-3 w-full border
          rounded-md focus:outline-none focus:border-indigo-500"
          [ngClass]="{ 'border-red-600': (error && !apellido), 'border-gray-300': !(error && !apellido) }"
          placeholder="Ingrese apellido" [(ngModel)]="apellido">
      </div>

      <!-- Nombre de usuario -->
      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700 w-full"
          [ngClass]="{ 'text-red-600': (error && !username), 'text-gray-700': !(error && !username) }">{{ (error && !username) ? '¡Campo obligatorio!' : 'Nombre de usuario' }}</label>
        <input pInputText id="direction" type="text" class="mt-1 p-3 w-full border
          rounded-md focus:outline-none focus:border-indigo-500"
          [ngClass]="{ 'border-red-600': (error && !username), 'border-gray-300': !(error && !username) }"
          placeholder="Ingrese nombre de usuario" [(ngModel)]="username" [disabled]="asesor!==undefined">
      </div>

      <!-- Teléfono asesor -->
      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700 w-full">Teléfono del asesor</label>
        <p-inputMask class="mt-1 p-1 w-full border border-gray-300 rounded-md focus:outline-none
          focus:border-indigo-500" mask="2999999999" placeholder="9999999999"
          [(ngModel)]="tel"></p-inputMask>
      </div>

      <!-- Correo asesor -->
      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700 w-full">Correo del asesor</label>
        <input pInputText id="direction" type="email" class="mt-1 p-3 w-full border border-gray-300
          rounded-md focus:outline-none focus:border-indigo-500" placeholder="Ingrese correo electrónico"
          [(ngModel)]="email">
      </div>

      <!-- Rol -->
      <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
        <label class="text-sm font-medium text-gray-700 w-full">Rol del asesor</label>
        <p-dropdown class="mt-1 w-full border border-gray-300 rounded-md focus:outline-none
        focus:border-indigo-500" id="activo" appendTo="body" [options]="roles" placeholder="Seleccione..."
          [showClear]="true" panelStyleClass="panel" optionLabel="name" [style]="{ width: '100%', height: '48px' }"
          [(ngModel)]="selectedRol"></p-dropdown>
      </div>
    </ng-container>

  </div>
  <ng-template pTemplate="footer">
    <div class="w-full flex justify-end items-center mt-2">
      <div *ngIf="asesor" pRipple class="shadow-lg shadow-gray-500/50 w-auto h-16 bg-purple-900 rounded-full flex
        items-center justify-center p-5 cursor-pointer mr-4 transition-all duration-500 hover:animate-pulse"
        (click)="setPasswordUndefined()">
        <p class="text-white">Blanquear contraseña</p>
      </div>
      <div (keydown)="handleKeyboardEvent($event)" pRipple class="shadow-lg shadow-gray-500/50 w-auto h-16 bg-gray-800 rounded-full flex
        items-center justify-center p-5 cursor-pointer hover:bg-gray-600 transition-all duration-500"
        (click)="!asesor ? insertDialog() : updateDialog()">
        <p class="text-white">{{!asesor ? 'Agregar asesor': 'Modificar asesor'}}</p>
      </div>
    </div>
  </ng-template>
</p-dialog>

<app-dialog #dialog />
