<p-dialog [(visible)]="visible" [modal]="true" [draggable]="false" [style]="{ width: '90vw' }">
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center gap-2">
      <span class="font-bold white-space-nowrap text-2xl">Agregar asesor</span>
      <div class="w-6 h-6 mt-1 rounded-full flex justify-center items-center bg-gray-500">
        <p class="p-1 text-white" [pTooltip]="tooltipText" [tooltipStyleClass]="'tooltip-custom'"
          tooltipPosition="bottom">?</p>
      </div>
    </div>
  </ng-template>
  <div class="grid grid-cols-12 gap-4">

    <!-- Nombre asesor -->
    <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
      <label class="text-sm font-medium text-gray-700 w-full">Nombre completo del asesor</label>
      <input pInputText id="name" type="text" class="mt-1 p-3 w-full border border-gray-300
        rounded-md focus:outline-none focus:border-indigo-500" placeholder="Ingrese nombre completo">
    </div>

    <!-- Apellido asesor -->
    <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
      <label class="text-sm font-medium text-gray-700 w-full">Dirección del asesor</label>
      <input pInputText id="direction" type="text" class="mt-1 p-3 w-full border border-gray-300
        rounded-md focus:outline-none focus:border-indigo-500" placeholder="Ingrese dirección">
    </div>

    <!-- Teléfono asesor -->
    <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
      <label class="text-sm font-medium text-gray-700 w-full">Teléfono del asesor</label>
      <p-inputMask class="mt-1 p-1 w-full border border-gray-300 rounded-md focus:outline-none
        focus:border-indigo-500" mask="+54 (299) 999-9999" placeholder="+54 (999) 999-9999"></p-inputMask>
    </div>

    <!-- Correo asesor -->
    <div class="lg:col-span-4 sm:col-span-12 md:col-span-6 col-span-12 px-2 flex flex-col">
      <label class="text-sm font-medium text-gray-700 w-full">Correo del asesor</label>
      <input pInputText id="direction" type="email" class="mt-1 p-3 w-full border border-gray-300
        rounded-md focus:outline-none focus:border-indigo-500" placeholder="Ingrese correo electrónico">
    </div>

  </div>
  <ng-template pTemplate="footer">
    <div class="w-full flex justify-end items-center mt-2">
      <div pRipple class="shadow-lg shadow-gray-500/50 w-auto h-16 bg-gray-800 rounded-full flex
        items-center justify-center p-5 cursor-pointer">
        <p class="text-white">Agregar asesor</p>
      </div>
    </div>
  </ng-template>
</p-dialog>
