/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-shadow: none ;
}

.panel {
  border: solid 1px rgb(209 213 219);
}

input {
  padding: 8px;
}

.p-button {
  background: #1F2937 !important;
  color: white;
}

.p-button.cancel {
  background: rgb(129, 18, 18) !important;
  color: white;
}

.p-confirm-dialog {
  max-width: 90vw !important;
}

.p-datepicker-month {
  padding-right: 6px !important;
}

.p-checkbox-box {
  border: solid 1px #1F2937;
}

.p-checkbox .p-checkbox-box.p-highlight {
  background: #1F2937;
}

/* Son del image cropper, cuando se inicia, se agrega automáticamente
  un margin left que impide modificar la imagen */
.ngx-ic-cropper, .ngx-ic-overlay {
  margin-left: 0 !important;
}
