<app-navbar></app-navbar>
<div class="bg-gray-100 w-screen h-screen pt-32 px-6">
  <!-- ! SISTEMA RESPONSIVO ESTILO BOOTSTRAP C/TAILWIND CSS -->
  <div class="grid grid-cols-12 gap-4">
    <app-card class="lg:col-span-3 sm:col-span-12 md:col-span-6 col-span-12"
      [color]="'gray-900'" [icon]="'heroClipboardDocumentListSolid'" [text]="'Pericias'" [quantity]="218"
    ></app-card>
    <app-card class="lg:col-span-3 sm:col-span-12 md:col-span-6 col-span-12"
      [color]="'orange-900'" [icon]="'heroUserGroupSolid'" [text]="'Usuarios'" [quantity]="8"
    ></app-card>
    <app-card class="lg:col-span-3 sm:col-span-12 md:col-span-6 col-span-12"
      [color]="'teal-900'" [icon]="'heroUserSolid'" [text]="'Asesores'" [quantity]="9"
    ></app-card>
    <app-card class="lg:col-span-3 sm:col-span-12 md:col-span-6 col-span-12"
      [color]="'emerald-900'" [icon]="'heroBuildingOfficeSolid'" [text]="'Aseguradoras'" [quantity]="2"
    ></app-card>
    <app-card class="lg:col-span-3 sm:col-span-12 md:col-span-6 col-span-12"
      [color]="'red-900'" [icon]="'heroShieldCheckSolid'" [text]="'Siniestros'" [quantity]="7"
    ></app-card>
  </div>
</div>
