<!-- ! Filter-->
<app-filter-users (changeInput)="filter($event)" *render="['admin']" />

<p-paginator #paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
  [totalRecords]="totalRecords" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>

<p-table #table [showCurrentPageReport]="true" [value]="asesores" dataKey="id" (onSort)="onSort($event)">
  <ng-template pTemplate="header">
    <tr class="dark-tr">
      <th pSortableColumn="id_visible">
        ID <ng-icon name="{{asc ? 'heroBarsArrowUpSolid' : 'heroBarsArrowDownSolid'}}" />
      </th>
      <th>Nombre y apellido</th>
      <th>Estado</th>
      <th>Teléfono</th>
      <th>Correo</th>
      <th>Pericias asignadas</th>
      <th *render="['admin']">Rol</th>
      <th *render="['admin']">Acciones</th>
      <th *render="['admin']">Fecha / hora carga</th>
      <th *render="['admin']">Cargado por</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-asesor>
    <tr class="hover:bg-gray-200 transition-all duration-500 cursor-pointer" (click)="onRowSelect(asesor)">
      <td>
        <p tooltipPosition="bottom" pTooltip="{{ asesor.id }}">{{ asesor.id }}</p>
      </td>
      <td>
        <p tooltipPosition="bottom" pTooltip="{{ asesor.nombre }} {{ asesor.apellido }}">{{ asesor.nombre }}
          {{ asesor.apellido }}</p>
      </td>
      <td>
        <p tooltipPosition="bottom" pTooltip="{{asesor.activo ? 'Activo' : 'Inactivo'}}">
          {{asesor.activo ? 'Activo' : 'Inactivo'}}</p>
      </td>
      <td>
        <p tooltipPosition="bottom" pTooltip="{{ asesor.tel ? asesor.tel : 'No tiene' }}">
          {{ asesor.tel ? asesor.tel : 'No tiene' }}</p>
      </td>
      <td>
        <p tooltipPosition="bottom" pTooltip="{{ asesor.email ? asesor.email : 'No tiene' }}">
          {{ asesor.email ? asesor.email : 'No tiene' }}</p>
      </td>
      <td>
        <p tooltipPosition="bottom" pTooltip="{{ 'Cantidad de pericias asignadas: ' + asesor.pericia.length }}">
          {{ asesor.pericia.length }}</p>
      </td>
      <td *render="['admin']">
        <p tooltipPosition="bottom" pTooltip="{{ 'Rol: ' + returnRol(asesor.rol)?.name }}">
          {{ returnRol(asesor.rol)?.name }}</p>
      </td>
      <td class="justify-center items-center p-5" *render="['admin']">
        <div tooltipPosition="bottom" pTooltip="{{asesor.activo ? 'Desactivar' : 'Activar'}} asesor"
          tooltipPosition="bottom" pRipple class="shadow-gray-600/50 shadow-md text-sm w-auto rounded-full flex
          items-center justify-center p-2 cursor-pointer transition-all duration-500"
          [ngClass]="{ 'bg-gray-800 hover:bg-gray-600': !asesor.activo, 'bg-purple-500 hover:bg-purple-300': asesor.activo }"
          (click)="onClickButton = true">
          <p class="text-white">{{ asesor.activo ? 'Desactivar' : 'Activar' }}</p>
        </div>
      </td>
      <td *render="['admin']">
        <p tooltipPosition="bottom" pTooltip="{{ asesor.fecha_creado | date: 'dd/MM/yyyy' }}">
          {{ asesor.fecha_creado | date: 'dd/MM/yyyy' }}</p>
      </td>
      <td *render="['admin']">
        <p tooltipPosition="bottom"
          pTooltip="{{ asesor.usuario_carga ? asesor.usuario_carga.nombre + ' ' + asesor.usuario_carga.apellido : '-No tiene-' }}">
          {{ asesor.usuario_carga ? asesor.usuario_carga.nombre + ' ' + asesor.usuario_carga.apellido : '-No tiene-' }}
        </p>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-paginator #paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
  [totalRecords]="totalRecords" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
