<!-- ! Filter-->
<app-filter-users (changeInput)="filter($event)" />

<p-paginator #paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
  [totalRecords]="totalRecords" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>

<p-table #table [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
  [styleClass]="'p-datatable-sm mt-3'" [value]="forms" dataKey="id" (onSort)="onSort($event)">
  <ng-template pTemplate="header">
    <tr class="dark-tr">
      <th pSortableColumn="id_visible">
        ID <ng-icon name="{{asc ? 'heroBarsArrowUpSolid' : 'heroBarsArrowDownSolid'}}" />
      </th>
      <th>Nombre</th>
      <th>Plantilla</th>
      <th>Categoria</th>
      <th>Fecha / hora realizado</th>
      <th>Fecha / hora carga</th>
      <th>Cargado por</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-form>
    <tr class="item" (click)="onRowSelect(form)">
      <td>
        <p pTooltip="{{ form.id_visible }}">{{ form.id_visible }}</p>
      </td>
      <td>
        <p pTooltip="{{ form.name }}">{{ form.name }}</p>
      </td>
      <td>
        <p pTooltip="{{ form.type ? form.type.name : '-NO APLICA-' }}">{{ form.type ?
          form.type.name : '-NO APLICA-' }}</p>
      </td>
      <td>
        <p pTooltip="{{ form.category ? form.category.name : '-NO APLICA-' }}">
          {{ form.category ? form.category.name : '-NO APLICA-' }}
        </p>
      </td>
      <td>
        <p pTooltip="{{ form.start_date_time | date : 'dd/MM/yyyy' }}">{{ form.start_date_time | date : "dd/MM/yyyy" }}
        </p>
      </td>
      <td>
        <p pTooltip="{{ form.upload_date | date : 'dd/MM/yyyy' }}">{{ form.upload_date | date : "dd/MM/yyyy" }}</p>
      </td>
      <td>
        <p pTooltip="{{ form.upload_user ? form.upload_user.name + ' ' + form.upload_user.last_name : '-NO APLICA-' }}">
          {{ form.upload_user ? form.upload_user.name + ' ' + form.upload_user.last_name : '-NO APLICA-' }}</p>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-paginator #paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
  [totalRecords]="totalRecords" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
